root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = false

[*.md]
trim_trailing_whitespace = false

[*.{yml,yaml,json}]
indent_size = 2

[*.sln]
indent_size = 4

[*.{cs,csx,csproj,props,targets,xml}]
indent_style = space
indent_size = 4
